body{
    margin: 0;
}
.computer{
    margin: 0;
    text-align: center;
    font-family: "Microsoft JhengHei";
    background-image: url("./picture/128495-ORX4GM-568.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.phone{
    display: none;
}
.left{
    float: left;
    width: 16.16%;
    height: 60px;
    /* border: 2px solid yellow; */
}
.right{
    float: left;
    width: 16.16%;
    height: 60px;
    /* border: 2px solid yellow; */
}
h1{
    margin: 30px;
    font-size: 50px;
}
.pic_dog{
    height: 600px;
    background-image: url("./picture/未命名-1.png");
    background-size: 80%; 
    background-repeat: no-repeat;
    background-position: center;
}
.pic{
    /* background-image: url("/picture/未命名-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: white;
    float: left;
    width: 66.67%;
    height: 80%;
    position: relative;
    /* border: 2px solid red; */
}
.pic ul{   /*消除list格式*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.pic button{
    font-family: "Microsoft JhengHei";
    font-size: 24px;
    padding: 10px;
    cursor: pointer;  /*當滑鼠移上去時的圖案 */
}
button.sent_btn{
    margin: 15px;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(255, 149, 149);
    color: white;
    border: 2px solid white;
}
button.sent_btn:hover{
    background-color: rgb(233, 95, 95);
}
.pic .meau {
    display: none;    /*未移至button前隱藏*/
    position: absolute;
    background-color: white;
}
.pic li{              /*所有li格式*/
    text-align: left;
    width: 100px;
    border: 1px solid rgb(192, 191, 192);
    padding: 5px 10px;
}
.list{
    text-align: center;
    /* background-color: azure; */
    margin: 10px;
    width: 100%;
    display: flex;
    display: inline-block;
    font-size: 28px;
}