@media (min-width: 320px) and (max-width: 720px) {
    .computer{
        display: none;
    }
    .phone{
        display: block;
        text-align: center;
        font-family: '微軟正黑體';
    }
    p{
        display: inline-block;
        font-size: 20px;
        /* height: 300px; */
        /* border: 2px solid darkcyan; */
        padding: 60% 20px 5px 20px;
    }
    .phone a{
        border: 2px solid rgb(77, 77, 77);
        color:rgb(77, 77, 77);
        background-color: rgb(232, 235, 139);
        padding: 10px;
        text-decoration: none;
        border-radius: 10px;
    }
    a:hover{
        border: 2px solid rgb(77, 77, 77);
        color: rgb(232, 235, 139);
        background-color: rgb(77, 77, 77);
    }
    .phone img{
        float: botton;
        width: 90%;
    }
}